@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1</h1>
    <p class="lead">"My Closet"</p><<!--Customized Homepage button removed button added the details about the site -->

    <p>At "My Closet" this app allows you to use existing clothes within the closet to make outfits or go online and pull images to create outfits. This app prevents the dreaded sitiuation of buying several articles of clothing that don't match or that don't go together well.Here at "My Closet" know how hard it is to make a great outfit work unless your Sam Saunders, but we can help you get pretty darn close! </p>

</div>

<div class="row">
    <div class="col-md-4"> <!--link goes directly to outfits where you can customize your outfit-->
        <h2>>@Html.ActionLink("Outfits", "Index", "Outfits")</h2>
        <p> The outfits that you create can be directly accesssed by clicking on this link and you can adjust, delete or create new outfits based on what you like.</p>
        <p> 
            <img src="~/Content/pics/13567395_10154607160071564_7553529727872589148_n.jpg" style="width:220px; height:200px;" />    </p>
    </div>
    <div class="col-md-4"> <!--Link goes directly to Accessories where you can view whats in the closet and add things to the closet-->
        <h2>>@Html.ActionLink("Accessories", "Index", "Accessories")</h2>
        <p> This link takes you to all of the Accessories that are in your closet that you can add or delete to an outfit and search the net and add these new Accessories to your closet! </p>
        <p>
            <img src="~/Content/pics/Hublot2.jpg"style="width:220px; height:200px;" />
        </p>
    </div>
    <div class="col-md-4"><!-- Link goes directly to Tops where you can view whats in the closet and add things to closet-->
        <h2>>@Html.ActionLink("Tops", "Index", "Tops")</h2>
        <p> This link takes you to all of the Tops that are in your closet that you can add or delete to an outfit and search the net and add these new Tops to your closet!</p>
        <p>
            <img src="~/Content/pics/-tee-shirts-drink-moonshine-red-1.jpg"style="width:220px; height:200px;"  />
        </p>
    </div>
    <div class="col-md-4"><!-- Link goes directly to Bottoms where you can view whats in the closet and add things to closet-->
        <h2>>@Html.ActionLink("Bottoms", "Index", "Bottoms")</h2>
        <p> This link takes you to all of the Bottoms that are in your closet that you can add or delete to an outfit and search the net and add these new Bottoms to your closet!</p>
        <p>
            <img src="~/Content/pics/2291357_fpx.jpg"style="width:220px; height:200px;" />
        </p>
    </div>
    <div class="col-md-4"><!-- Link goes directly to Shoes where you can view whats in the closet and add things to closet-->
        <h2>>@Html.ActionLink("Shoes", "Index", "Shoes")</h2>
        <p> This link takes you to all of the Shoes that are in your closet that you can add or delete to an outfit and search the net and add these new Shoes to your closet!</p>
        <p>
            <img src="~/Content/pics/shoe image.jpg"style="width:220px; height:220px;" />
        </p>
    </div>
</div>